.menu-item{
    width: 50%;
    margin: 2rem auto;

}

.menu-card{
    font-family: Gilroy;
  
    justify-content: space-between;
}
.menu-cuisines{
    margin-bottom: 1rem;
}

.menu-heading{
    margin: 4rem 0rem 2rem 0rem;
}

.food-name{
    font-weight: 700;
    color:#414449;
}

.about-food{
    color: #676a6d;
}

.food-price{
    
}

.food-rating{
    margin:12px 0px;
}

.menu-container hr{
    margin: 1.5rem 0rem;
}

.food-img img{
    
    object-fit: cover;
    width:155px;
    height: 145px;
}
.abt-food{
    width:70%;
}